body {
    margin: 0;
    box-sizing: border-box;
    font-family: "PT Serif", serif;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.section + .section {
    margin-top: 8vh;
}

.section__header {
    display: flex;
    position: relative;
    height: 80vh;
    color: #fff;
    background: no-repeat center;
    background-size: cover;
    overflow: hidden;
}

.section__header_full_yes {
    height: 100vh;
}

.section__header::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.15);
}

.section__header-center {
    margin: auto;
    z-index: 1;
    text-align: center;
    text-transform: uppercase;
}

.section__header-center h1 {
    margin: 0;
    font-size: 2.2rem;
    letter-spacing: 0.4em
}

.section__header-center h2 {
    margin: 0;
    font-size: 1.2rem;
    line-height: 1.6;
    letter-spacing: 0.3em
}

.section__header-center h1 + h2 {
    margin: 1em 0 0;
    font-size: 0.7rem;
    letter-spacing: 0.6em;
    font-weight: normal;
}

.section__header-bottom {
    position: absolute;
    left: 5%;
    bottom: 5vh;
    width: 90%;
    font-size: 0.8rem;
    text-align: center;
    font-style: normal;
    color: #e6e6e6;
}

.section__content {
    margin: 8vh auto 0;
    text-align: justify;
    -webkit-hyphens: auto;
    -moz-hyphens: auto;
    -ms-hyphens: auto;
    hyphens: auto;
}

.section__content p,
.section__content h2 {
    margin: 5vh auto;
    width: 90%;
    max-width: 600px;
}

.section__content h2 {
    font-size: 1.7rem;
    line-height: 1.2;
    text-transform: uppercase;
}

.section__content img {
    margin: 0 auto;
    display: block;
    width: 100%;
    max-width: 320px;
}

.section__content img + img {
    margin-top: 3vh;
}

.section_1 p:first-of-type::first-letter {
    font-size: 3rem;
    line-height: 0;
    font-weight: bold;
}

/* Side content */

.note {
    position: relative;
    margin: 0 auto;
    padding: 0.3em 0;
    width: 80%;
    max-width: 320px;
    font-weight: bold;
}

.note::before {
    content: '';
    position: absolute;
    top: 0;
    left: -1em;
    width: 4px;
    height: 100%;
    background-color: #f0efeb;
}

.note_small_yes {
    font-size: 0.8rem;
    font-weight: normal;
}

.img-caption {
    margin: 3vh auto 0;
    width: 80%;
    max-width: 320px;
    font-size: 0.8rem;
}

/* Sections' backgrounds */

.section__header_1 {
    background-image: url(img/section-1-header@crop1000.jpeg);
}

@media screen and (min-width: 900px) {
    .section__header_1 {
        background-image: url(img/section-1-header.jpeg);
        background-attachment: fixed;
    }
}

.section__header_2 {
    background-image: url(img/section-2-header@crop1000.jpeg);
}

@media screen and (min-width: 900px) {
    .section__header_2 {
        background-image: url(img/section-2-header.jpeg);
    }
}

.section__header_3 {
    background-image: url(img/section-3-header@crop1000.jpeg);
}

@media screen and (min-width: 900px) {
    .section__header_3 {
        background-image: url(img/section-3-header.jpeg);
    }
}

.section__header_4 {
    background-image: url(img/section-4-header@crop1000.jpeg);
}

@media screen and (min-width: 900px) {
    .section__header_4 {
        background-image: url(img/section-4-header.jpeg);
    }
}

.section__header_5 {
    background-image: url(img/section-5-header@crop1000.jpeg);
}

@media screen and (min-width: 900px) {
    .section__header_5 {
        background-image: url(img/section-5-header.jpeg);
    }
}

.section__header_6 {
    background-image: url(img/section-6-header@crop1000.jpeg);
}

@media screen and (min-width: 900px) {
    .section__header_6 {
        background-image: url(img/section-6-header.jpeg);
    }
}

.section__header_7 {
    background-image: url(img/section-7-header@crop1000.jpeg);
}

@media screen and (min-width: 900px) {
    .section__header_7 {
        background-image: url(img/section-7-header.jpeg);
    }
}

.section__header_8 {
    background-image: url(img/section-8-header.jpeg);
}

.section__header_9 {
    background-image: url(img/section-9-header.jpeg);
}

.section__header_10 {
    background-image: url(img/section-10-header@crop1000.jpeg);
}

@media screen and (min-width: 900px) {
    .section__header_10 {
        background-image: url(img/section-10-header.jpeg);
    }
}

/* Font media queries */

@media screen and (min-width: 768px) {
    .section__header h2 {
        font-size: 1.6rem;
    }
}

@media screen and (min-width: 900px) {
    html {
        font-size: 18px;
    }
}

@media screen and (min-width: 1280px) {
    html {
        font-size: 19px;
    }

    .section__header h2 {
        font-size: 2rem;
    }
}

/* Composition media queries */

@media screen and (min-width: 900px) {
    .section__content {
        position: relative;
        width: calc(100% - 80px);
        max-width: 984px;
    }

    .section__content p,
    .section__content h2 {
        margin: 5vh 0;
        width: 55%;
    }

    .note,
    .img-container {
        position: absolute;
        top: 0;
        right: 0;
        width: 35%;
        max-width: 320px;
    }

    .note:last-of-type {
        top: auto;
        bottom: 0;
    }

    .img-caption {
        width: auto;
    }
}

@media screen and (min-width: 900px) {
    .section__content {
        max-width: 1150px;
    }

    .section__content p,
    .section__content h2 {
        max-width: 750px;
    }
}
